@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-instrument: "Instrument Serif", serif;
}

:root {
  background-color: #111;
  box-sizing: border-box;
}

/* Esconde o cursor apenas em desktops (dispositivos com mouse) */
@media (hover: hover) and (pointer: fine) {
  :root {
    cursor: none;
  }
}
::selection {
  background-color: #0000ff;
  color: #fff;
}
header {
  unicode-bidi: isolate;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.circle {
  animation: spin 15s linear infinite; /* spin 1s linear infinite */
}
