@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-instrument: "Instrument Serif", serif;
}

:root {
  background-color: #111;
  box-sizing: border-box;
  cursor: none;
}
::selection {
  background-color: #0000ff;
  color: #fff;
}
header {
  unicode-bidi: isolate;
}

.circle {
  animation: spin 15s linear infinite; /* spin 1s linear infinite */

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
